<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="microavatar.framework.perm.dao.UserDao">

    <!-- 本文件由powerDesigner自动生成，请勿修改本文件任何内容。如需自定义本entity的sql，请在同目录下添加UserMapperExt.xml -->

    <sql id="_tableName">Auth_User</sql>

    <sql id="_allCloumns"> id, account, pwd, createTime, name, status, timeVersion </sql>

    <sql id="_selectCondition">
        <choose>
            <when test="_select_all_columns">
                <include refid="_allCloumns"/>
            </when>
            <otherwise>
                <foreach collection="_selects" item="_item" index="index" separator=",">${_item}</foreach>
            </otherwise>
        </choose>
    </sql>

    <sql id="_whereCondition">
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="account != null">and account = #{account}</if>
            <if test="pwd != null">and pwd = #{pwd}</if>
            <if test="createTime != null">and createTime = #{createTime}</if>
            <if test="createTime_gt != null">and createTime &gt; #{createTime_gt}</if>
            <if test="createTime_gt_eq != null">and createTime &gt;= #{createTime_gt_eq}</if>
            <if test="createTime_lt != null">and createTime &lt; #{createTime_lt}</if>
            <if test="createTime_lt_eq != null">and createTime &lt;= #{createTime_lt_eq}</if>
            <if test="name != null">and name = #{name}</if>
            <if test="status != null">and status = #{status}</if>
            <if test="status_gt != null">and status &gt; #{status_gt}</if>
            <if test="status_gt_eq != null">and status &gt;= #{status_gt_eq}</if>
            <if test="status_lt != null">and status &lt; #{status_lt}</if>
            <if test="status_lt_eq != null">and status &lt;= #{status_lt_eq}</if>
        </where>
    </sql>

    <insert id="add" parameterType="microavatar.framework.perm.entity.User">
        INSERT INTO
        <include refid="_tableName"/>
        (
        <include refid="_allCloumns"/>
        )
        VALUES
        (
        #{id,jdbcType=VARCHAR},
        #{account,jdbcType=VARCHAR},
        #{pwd,jdbcType=VARCHAR},
        #{createTime,jdbcType=BIGINT},
        #{name,jdbcType=VARCHAR},
        #{status,jdbcType=TINYINT},
        #{timeVersion,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="batchAdd" parameterType="collection">
        INSERT INTO
        <include refid="_tableName"/>
        (
        <include refid="_allCloumns"/>
        )
        VALUES
        <foreach collection="collection" item="item" index="index" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.account,jdbcType=VARCHAR},
            #{item.pwd,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=BIGINT},
            #{item.name,jdbcType=VARCHAR},
            #{item.status,jdbcType=TINYINT},
            #{item.timeVersion,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <delete id="deleteById" parameterType="string">
        DELETE FROM
        <include refid="_tableName"/>
        WHERE id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="collection">
        DELETE FROM
        <include refid="_tableName"/>
        WHERE id IN
        <foreach collection="collection" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="update" parameterType="microavatar.framework.perm.entity.User">
        UPDATE
        <include refid="_tableName"/>
        <set>
            <if test="account != null">account=#{account},</if>
            <if test="pwd != null">pwd=#{pwd},</if>
            <if test="createTime != null">createTime=#{createTime},</if>
            <if test="name != null">name=#{name},</if>
            <if test="status != null">status=#{status}</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getById" parameterType="string" resultType="microavatar.framework.perm.entity.User">
        SELECT
        <include refid="_allCloumns"/>
        FROM
        <include refid="_tableName"/>
        WHERE id = #{id}
    </select>

    <select id="findPage" parameterType="map" resultType="microavatar.framework.perm.entity.User">
        SELECT
        <include refid="_selectCondition"/>
        FROM
        <include refid="_tableName"/>
        <include refid="_whereCondition"/>
    </select>

    <select id="countAll" resultType="long">
        SELECT
        count(1)
        FROM
        <include refid="_tableName"/>
    </select>

</mapper>