<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="microavatar.framework.perm.dao.SysResourceDao">

    <!-- 本文件由powerDesigner自动生成，请勿修改本文件任何内容。如需自定义本entity的sql，请在同目录下添加SysResourceMapperExt.xml -->

    <sql id="_tableName">Auth_SysResource</sql>

    <sql id="_allCloumns"> id, parentId, name, type, host, url, orderNum, enabled, remark </sql>

    <sql id="_selectCondition">
        <choose>
            <when test="_select_all_columns">
                <include refid="_allCloumns"/>
            </when>
            <otherwise>
                <foreach collection="_selects" item="_item" index="index" separator=",">${_item}</foreach>
            </otherwise>
        </choose>
    </sql>

    <sql id="_whereCondition">
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="parentId != null">and parentId = #{parentId}</if>
            <if test="name != null">and name = #{name}</if>
            <if test="type != null">and type = #{type}</if>
            <if test="type_gt != null">and type &gt; #{type_gt}</if>
            <if test="type_gt_eq != null">and type &gt;= #{type_gt_eq}</if>
            <if test="type_lt != null">and type &lt; #{type_lt}</if>
            <if test="type_lt_eq != null">and type &lt;= #{type_lt_eq}</if>
            <if test="host != null">and host = #{host}</if>
            <if test="url != null">and url = #{url}</if>
            <if test="orderNum != null">and orderNum = #{orderNum}</if>
            <if test="orderNum_gt != null">and orderNum &gt; #{orderNum_gt}</if>
            <if test="orderNum_gt_eq != null">and orderNum &gt;= #{orderNum_gt_eq}</if>
            <if test="orderNum_lt != null">and orderNum &lt; #{orderNum_lt}</if>
            <if test="orderNum_lt_eq != null">and orderNum &lt;= #{orderNum_lt_eq}</if>
            <if test="enabled != null">and enabled = #{enabled}</if>
            <if test="enabled_gt != null">and enabled &gt; #{enabled_gt}</if>
            <if test="enabled_gt_eq != null">and enabled &gt;= #{enabled_gt_eq}</if>
            <if test="enabled_lt != null">and enabled &lt; #{enabled_lt}</if>
            <if test="enabled_lt_eq != null">and enabled &lt;= #{enabled_lt_eq}</if>
            <if test="remark != null">and remark = #{remark}</if>
        </where>
    </sql>

    <insert id="save" parameterType="microavatar.framework.perm.entity.SysResource">
        INSERT INTO
        <include refid="_tableName"/>
        (
        <include refid="_allCloumns"/>
        )
        VALUES
        (
        #{id,jdbcType=VARCHAR},
        #{parentId,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{type,jdbcType=TINYINT},
        #{host,jdbcType=VARCHAR},
        #{url,jdbcType=VARCHAR},
        #{orderNum,jdbcType=TINYINT},
        #{enabled,jdbcType=TINYINT},
        #{remark,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="batchSave" parameterType="collection">
        INSERT INTO
        <include refid="_tableName"/>
        (
        <include refid="_allCloumns"/>
        )
        VALUES
        <foreach collection="collection" item="item" index="index" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.parentId,jdbcType=VARCHAR},
            #{item.name,jdbcType=VARCHAR},
            #{item.type,jdbcType=TINYINT},
            #{item.host,jdbcType=VARCHAR},
            #{item.url,jdbcType=VARCHAR},
            #{item.orderNum,jdbcType=TINYINT},
            #{item.enabled,jdbcType=TINYINT},
            #{item.remark,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <delete id="deleteById" parameterType="string">
        DELETE FROM
        <include refid="_tableName"/>
        WHERE id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="collection">
        DELETE FROM
        <include refid="_tableName"/>
        WHERE id IN
        <foreach collection="collection" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="update" parameterType="microavatar.framework.perm.entity.SysResource">
        UPDATE
        <include refid="_tableName"/>
        <set>
            <if test="parentId != null">parentId=#{parentId},</if>
            <if test="name != null">name=#{name},</if>
            <if test="type != null">type=#{type},</if>
            <if test="host != null">host=#{host},</if>
            <if test="url != null">url=#{url},</if>
            <if test="orderNum != null">orderNum=#{orderNum},</if>
            <if test="enabled != null">enabled=#{enabled},</if>
            <if test="remark != null">remark=#{remark}</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getById" parameterType="string" resultType="microavatar.framework.perm.entity.SysResource">
        SELECT
        <include refid="_allCloumns"/>
        FROM
        <include refid="_tableName"/>
        WHERE id = #{id}
    </select>

    <select id="findPage" parameterType="map" resultType="microavatar.framework.perm.entity.SysResource">
        SELECT
        <include refid="_selectCondition"/>
        FROM
        <include refid="_tableName"/>
        <include refid="_whereCondition"/>
    </select>

    <select id="countAll" resultType="long">
        SELECT
        count(1)
        FROM
        <include refid="_tableName"/>
    </select>

</mapper>